<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signin.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Sign In</title>
</head>
<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link active" href="/user/showprofile">Profile</a>
                <a class="nav-link active" href="/user/signup">Sign Up</a>
                <a class="nav-link active" href="/user/signin">Sign In</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <div class="container" style="text-align: center; width: 30%; margin-top: 5%">
            <form class="form-signin" action="/user/signinvalidate" method="POST">
                <input name="username" id="inputUsername" class="form-control mb-3" placeholder="Username" required="" autofocus="" type="text">
                <input name="password" id="inputPassword" class="form-control" placeholder="Password" required="" type="password"></br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <button class="btn btn-lg btn-danger btn-block" type="submit" onclick="window.location.href='/user/forgotPassword'">Forget Password</button>
                <p class="mt-5 mb-3 text-muted">&copy;CSYE6225</p>
            </form>
        </div>
    </main>

</div>
</body>
</html>